/*IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet');
/* MISC */
/*NORMALIZE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; }

/* PARTIALS */
/*MENU NAV no cambiar!!!*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .nav__inline {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    padding: .6rem;
    margin: .4rem;
    color: black;
    transition: background .3s;
    transition: transform 2s; }
    .nav__inline:hover {
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      transform: scale(1.2);
      cursor: pointer; }

/*FIN MENU NAV*/
/*LOGO*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.img-logo {
  width: 12rem;
  background-position: center; }

/*FIN LOGO*/
/*FOOTER*/
.pie_pagina {
  display: flex;
  height: 3rem;
  font-size: 1.2em;
  text-align: center; }

/* PAGES */
.titulo_principal {
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  word-spacing: .8rem;
  margin-top: auto; }

.parrafo_principal {
  font-size: 1.4em;
  word-spacing: .4rem;
  margin: 1em;
  text-align: initial; }

.texto {
  font-size: .8em;
  word-spacing: .4rem;
  text-align: center; }

.textoyfoto {
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-items: center;
  gap: 20px; }

.fotoinicio {
  width: 80%;
  height: 100%;
  overflow: hidden; }

h1 {
  text-align: center;
  color: #272e2d;
  font-size: 3.2rem;
  word-spacing: .5rem; }

h2 {
  word-spacing: .5rem;
  margin: 1.5rem;
  font-weight: bold;
  font-style: italic; }

h3 {
  color: black;
  font-size: 1.1em;
  word-spacing: .5rem;
  margin: 1.5rem;
  font-weight: bold;
  font-style: italic; }

.info {
  font-size: 1.4em;
  text-align: center;
  padding: .7rem; }

.fotolastres {
  display: flex;
  overflow: hidden;
  padding: 1rem; }

.parrafoBio {
  text-align: initial;
  font-size: 1.4em; }

.biografia {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1.5rem;
  gap: .7rem; }
  .biografia__texto {
    grid-column: span 6;
    grid-row: 1; }
  .biografia__foto {
    grid-column: span 6;
    grid-row: 1;
    justify-items: center; }
  .biografia__info-virna {
    grid-column: span 4;
    grid-row: 2; }
  .biografia__info-mariela {
    grid-column: span 4;
    grid-row: 2; }
  .biografia__info-claudia {
    grid-column: span 4;
    grid-row: 2; }

.infoCadaUna {
  text-align: center;
  font-size: 1.3em; }

.video_centrado {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  padding: 1.5rem; }

.lab {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1.5rem;
  gap: .7rem; }
  .lab__texto-texto1 {
    grid-column: span 6;
    grid-row: 1; }
  .lab__video1 {
    grid-column: span 6;
    grid-row: 1; }
  .lab__texto-texto2 {
    grid-column: span 6;
    grid-row: 2; }
  .lab__video2 {
    grid-column: span 6;
    grid-row: 2; }

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: inherit; }

ol {
  list-style-type: circle;
  font-size: 1.3rem;
  word-spacing: .3rem;
  margin: 1.5rem;
  text-align: initial; }

/*GALERIA DE FOTOS*/
img {
  width: 75%; }

.galeria {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: .7rem;
  justify-items: center; }
  .galeria__foto1 {
    grid-column: span 4;
    grid-row: 1; }
  .galeria__foto3 {
    grid-column: span 4;
    grid-row: 2; }
  .galeria__foto4 {
    grid-column: span 4;
    grid-row: 1; }
  .galeria__foto5 {
    grid-column: span 4;
    grid-row: 2; }
  .galeria__foto6 {
    grid-column: span 4;
    grid-row: 1; }
  .galeria__foto2 {
    grid-column: span 4;
    grid-row: 2; }

/*CONTACTO FORMULARIO*/
.formulario {
  margin: 2rem;
  font-size: 1.3em; }

/* MEDIA QUERIES EN MISC */
/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 1em; }
  .titulo_principal {
    font-size: 2.2em; }
  .titulo_principal2 {
    font-size: 1em; }
  .textoyfoto {
    display: grid;
    grid-template-columns: 6fr 6fr;
    justify-items: center;
    gap: 20px; }
  .parrafo_principal {
    font-size: 1em;
    word-spacing: .4rem;
    text-align: initial;
    grid-row: 1; }
  .parrafoBio {
    font-size: 1em;
    text-align: initial; }
  ol {
    font-size: .9em;
    margin: 1rem;
    text-align: initial; } }

@media screen and (max-width: 425px) {
  .titulo_principal2 {
    font-size: 1.7em; }
  .textoyfoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: initial; }
  .parrafoBio {
    font-size: 1em;
    text-align: initial; }
  .infoCadaUna {
    font-size: .9em; }
  ol {
    font-size: .9em;
    margin: 1rem;
    text-align: initial; } }

@media screen and (max-width: 320px) {
  .titulo_principal2 {
    font-size: 1.7em; }
  .textoyfoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: initial; }
  .parrafoBio {
    font-size: 1.05em;
    text-align: initial; }
  .infoCadaUna {
    font-size: .9em; }
  .biografia {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 0.5fr);
    padding: 1.5rem;
    gap: .7rem; }
    .biografia__texto {
      grid-column: span 12;
      grid-row: 1 / 4; }
    .biografia__foto {
      grid-column: span 12;
      grid-row: 4 / 5; }
    .biografia__info-virna {
      grid-column: span 12;
      grid-row: 5 / 6; }
    .biografia__info-mariela {
      grid-column: span 12;
      grid-row: 6 / 7; }
    .biografia__info-claudia {
      grid-column: span 12;
      grid-row: 7; }
  .lab {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 1.5rem;
    gap: .7rem; }
    .lab__texto-texto1 {
      grid-column: span 12;
      grid-row: 1; }
    .lab__video1 {
      grid-column: span 12;
      grid-row: 2; }
    .lab__texto-texto2 {
      grid-column: span 12;
      grid-row: 3; }
    .lab__video2 {
      grid-column: span 12;
      grid-row: 4; }
  ol {
    font-size: .9em;
    margin: 1rem;
    text-align: initial; }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0.5rem; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .7rem;
    justify-items: center; }
    .galeria__foto1 {
      grid-column: span 6;
      grid-row: 1; }
    .galeria__foto3 {
      grid-column: span 6;
      grid-row: 2; }
    .galeria__foto4 {
      grid-column: span 6;
      grid-row: 1; }
    .galeria__foto5 {
      grid-column: span 6;
      grid-row: 2; }
    .galeria__foto6 {
      grid-column: span 6;
      grid-row: 3; }
    .galeria__foto2 {
      grid-column: span 6;
      grid-row: 3; } }
