/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        font-size: 1em;
    }    
    .titulo_principal {
        font-size: 2.2em;
    }
    .titulo_principal2 {
        font-size: 1em;
    }

    .textoyfoto {
        display: grid;
        grid-template-columns: 6fr 6fr;
        justify-items: center;
        gap: 20px;
    }
    .parrafo_principal {
        font-size: 1em;
        word-spacing: .4rem;
        text-align: center;
        grid-row: 1;
    }
    
}
@media screen and (max-width: 425px) {
    
    .titulo_principal2 {
        font-size: 1.7em;
    }
    .textoyfoto {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 320px) {
    
    .titulo_principal2 {
        font-size: 1.7em;
    }
    .textoyfoto {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
