/*CONTACTO FORMULARIO*/

.formulario1{
    background-color: rgb(223, 221, 221);
    margin: 2rem;
    font-size: 1.5rem;
}
.formulario2{
    margin: 2rem;
    font-size: 1.3rem;
}
/*FIN CONTACTO FORMULARIO*/
