ul {
    list-style-type: none; 
    padding-left: 0;
}
ol {
    list-style-type: circle;
    font-size: 1.3rem;
    word-spacing: .3rem;
    margin: 3rem;
}


/*GALERIA DE FOTOS*/

img {
    width: 75%;
}

/*#galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
    padding: .5rem;
}

.galeria__img--11 {
    grid-column: span 4;
    grid-row: 1;
}
.galeria__img--12 {
    grid-column: span 4;
    grid-row: 1;
}
.galeria__img--13 {
    grid-column: span 4;
    grid-row: 1;
}
.galeria__img--14 {
    grid-column: span 4;
    grid-row: 1 / 3;
}
.galeria__img--15 {
    grid-column: span 4;
    grid-row: 1 / 3;
}
.galeria__img--16 {
    grid-column: span 4;
    grid-row: 1 / 3;
}

/*GALERIA 2
 
.galeria__img--21 {
    grid-column: span 4;
    grid-row: 1;
}
.galeria__img--22 {
    grid-column: span 4;
    grid-row: 1;
}
.galeria__img--23 {
    grid-column: span 4;
    grid-row: 1;
}
.galeria__img--24 {
    grid-column: span 4;
    grid-row: 2;
}
.galeria__img--25 {
    grid-column: span 4;
    grid-row: 2;
}
.galeria__img--26 {
    grid-column: span 4;
    grid-row: 2;
}
.galeria__img--27 {
    padding: 1rem;
    width: 30%;
    height: 50%;
}
*/
