ul {
    list-style-type: none; 
    padding-left: 0;
    text-align: inherit;
}
ol {
    list-style-type: circle;
    font-size: 1.3rem;
    word-spacing: .3rem;
    margin: 1.5rem;
    text-align: initial;
}


/*GALERIA DE FOTOS*/

img {
    width: 75%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .7rem;
    justify-items: center;
    &__foto1 {
        grid-column: span 4;
        grid-row: 1;
    }
    &__foto3 {
        grid-column: span 4;
        grid-row: 2;
    }
    &__foto4 {
        grid-column: span 4;
        grid-row: 1;
    }
    &__foto5 {
        grid-column: span 4;
        grid-row: 2;
    }
    &__foto6 {
        grid-column: span 4;
        grid-row: 1;
    }
    &__foto2 {
        grid-column: span 4;
        grid-row: 2;
    }
}

